.column {
  float: left;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.clear{z-index : 1;
/*   position : absolute;  */
}

.front{
  z-index : 2;
/*   position : absolute; */
}

div {
  padding-right: 25px;
  padding-left: 25px;
}